footer {
  text-align: center;
    padding: 1;
    background-color: var(--dark-secondary);
}

:root {
    --dark-main: #1A3263;
    --dark-secondary: #547792;
    --accent-brown: #FAB95B;
    --accent-light: #E8E2DB;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark-main);
    color: var(--white);
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--dark-secondary);
    border-radius: 10px;
    text-align: center;
}

.login-container h2 {
    color: var(--accent-light);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: var(--accent-brown);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: var(--accent-light);
}

.navbar {
    background: var(--dark-secondary);
    padding: 15px;
}

.navbar a {
    color: var(--white);
    text-decoration: none
}
.navbar a:hover {
    color: var(--accent-light);
}

.navbar .logout {
    float: right;
    color: #ff6b6b;
}

.content {
    padding: 20px;
}

h1 {
    color: var(--accent-light);
}

.profile-pic-section {
    text-align: center;
    margin-top: 30px;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #C1A57B;
}